require:
	min: 2.8.0

resources:
	resources: resources

templates:
	common:
		Latte/overview.latte: index.html
		Latte/combined.js.latte: combined.js
		Latte/elementlist.js.latte: elementlist.js
		Latte/404.latte: 404.html

	main:
		package:
			filename: package-%s.html
			template: Latte/package.latte
		namespace:
			filename: namespace-%s.html
			template: Latte/namespace.latte
		class:
			filename: class-%s.html
			template: Latte/class.latte
		constant:
			filename: constant-%s.html
			template: Latte/constant.latte
		function:
			filename: function-%s.html
			template: Latte/function.latte
		source:
			filename: source-%s.html
			template: Latte/source.latte
		tree:
			filename: tree.html
			template: Latte/tree.latte
		deprecated:
			filename: deprecated.html
			template: Latte/deprecated.latte
		todo:
			filename: todo.html
			template: Latte/todo.latte

	optional:
		sitemap:
			filename: sitemap.xml
			template: Latte/sitemap.xml.latte
		opensearch:
			filename: opensearch.xml
			template: Latte/opensearch.xml.latte
		robots:
			filename: robots.txt
			template: Latte/robots.txt.latte

options:
	elementDetailsCollapsed: Yes
	elementsOrder: natural # alphabetical
