body.dash {
	padding-top: 0 !important;

	#navigation {
		display: none !important;
	}

	#left {
		display: none !important;
	}

	#splitter {
		display: none !important;
	}

	#right {
		margin-left: 0 !important;
	}
}

